Header {
  background-color: black;
  color: salmon;
  display: flex;
  align-items: center;
  justify-content: center;

}




/* body{
    border-left: 6px solid black;
    height: 100%;
    position:absolute;
    left: 50%;
} */



